* {
    box-sizing: border-box;
font-size: 16px;
}

  :root {
    --tan: #dbcdc6;
    --pink: #9d6381;
    --purple: #615fd6;
    --green: #559f84;
    --blue: #0f638c;
    --red: #800000;
    --palegr:#ddfff3;
    --darkgr:#2A4F42;


  }
  /*Body Styles*/
  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--red);
  }
  
  .nav-bar img {
    justify-self: flex-start;
    align-self: center;
    background-color: white;
    width: 10%;
    height: auto;
    margin: 5px 0 5px 0;
  }
  
  .nav-bar h1 {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    padding: 5px 0 15px 0;
  }
  
  .navbar-ul li {
    align-self: center;
    padding: 15px;
  }
  
  .navbar-ul a {
    text-decoration: none;
    color: white;
  }
  
  .navbar-ul a:hover {
    cursor: pointer;
    opacity: 60%;
  }
  
 
  
  main {
    display: flex;
    justify-content: space-around;
  }
  
  section {
    flex: 0 0 50px;
    padding: 10px;
  }
  
  /* #infoDisplay {
    display:flex;
    padding: 10px 50px 30px 0;; */
  }
  
  footer {
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
    background: var(--red);
    color: var(--pink);
    margin-top: auto;
  }
  
.pQuery {
    /* display: inline-block; */
    border: 0px solid black;
    padding-right: 2px;
    border-radius: 20px 20px 20px 20px;

}


.queryHolder {

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2px;
    min-height: 5px;
    padding-inline-start: 15px;
    
}  

.stock-selector {
    display: flex;
    flex-wrap: wrap;
    width: 48%;
    margin-right: 10px;
  }
  
  .stock-selector h3 {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--darkgr);
    color: var(--palegr);
    text-align: center;
    width: 100%;
    height: 20%;
    padding: 20px 0 15px 0;
    border-radius: 20px 20px 0 0;
  }
  
 

  .selector-inputbox{
    background-color: var(--palegr);
    width: 100%;
    height: 80%;
    padding: 0 10px 0 10px;
    border-radius: 0 0 20px 20px;
    align-self: stretch;
  }
  
  .selector-instruction {
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    padding: 20px 0 30px 0;
    text-align: center;
    color: var(--darkgr)
  }
  
  .form-group {
    margin: 10px 0 20px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
     color: var(--darkgr)
  }
button {
    align-items: center;
    font-family: Arial, sans-serif;
    color: var(--darkgr);
    font-weight: 700;
    padding: 5px;
    border-radius: 30px;

}

  /* STOCK TABLE SECTION */
.table-section {
    border-top: 2px solid var(--palegr);
    margin: 10px 25px 0 25px;
    padding-bottom: 50px;
  }
  
  .table-section h2 {
    font-size: 2rem;
    font-weight: bold;
    color: var(--darkgr);
    padding: 50px 0 20px 0;
    border-bottom: 1px solid var(--darkgr);
    margin: 0 0 30px 0;
  }
  
  .table {
    border: 2px solid var(--palegr);
    width: 100%;
  }
  
  .table thead {
    background-color: var(--darkgr);
    color: var(--palegr);
    font-weight: 700;
  }
  
  .table tbody {
    background-color: var(--palegr);
    font-family: Arial, sans-serif;
    color: var(--darkgr);
    border: 1px solid var(var(--green));

  }
#stockTable tbody {
  border: 1px solid var(var(--green));


}





 
  /* FOOTER SECTION */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: var(--red);
  }
  
  .footer-nav li {
    align-self: center;
    padding: 15px 60px 15px 60px;
  }
  
  .footer-nav li :hover {
    cursor: pointer;
    opacity: 60%;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: white;
  }
  
  .footer-img {
    position: relative;
    left: 200px;
    align-self: center;
    background-color: white;
    width: 20%;
    height: auto;
    margin: 5px 0 5px 0;
  }
  
  .footer-img :hover {
    cursor: pointer;
  }
  

/* Mobile phone */
@media only screen and (max-width: 700px) {
    .nav-bar h1 {
      width: 100%;
      text-align: center;
    }
    .compare-currency {
      width: 100%;
      margin: 0 0 15px 0;
    }
    .news {
      width: 100%;
      margin: 15px 0 0 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .nav-bar h1 {
      font-size: 2rem;
      width: 100%;
      text-align: center;
    }
  
    .footer-img {
      position: relative;
      left: 40%;
    }
  
    .footer-nav li {
      width: 100%;
      text-align: center;
    }
  }
  