/* * {
    box-sizing: border-box;
  } */

  body {
      font-family: Arial;
      margin: 0;
      display: flex;
      flex-direction: column;
      min-height: 50vh;
      justify-content: flex-start;
    }
    .nav-item.active {
        text-decoration: none;
        color: white;
      } 
    .nav-item.stcks {
        text-decoration: none;
        color: #ffcccc;
      } 
    .nav-item.crpto {
        text-decoration: none;
        color:  #ffcccc;
      }      
      
nav {
    display: flex;
    color: #ffcccc;
    background-color:#800000;
}
 
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  section {
    flex: 0 0 50px;
    background-color: #800000;
    padding: 10px;
  }
  
  
  footer {
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
    background: #800000;
    color: #ffcccc;
    margin-top: auto;
  }
  
.pQuery {
    /* display: inline-block; */
    border: 5px solid black;
    /* padding-right: 2px; */


}

/* .queryHolder {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2px;
    min-height: 5px;
}  */